body {
	/*background: linear-gradient(90deg, #121abd, #af0946);*/
	background-color: #02010A;
	color: white;

	text-align: center;
}

.glass {
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(10px);
	box-shadow: 0px 8px 32px 0px rgba( 255, 255, 255, 0.1 );
	color: black;

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 5px;
	transition: ease-in-out 0.25s;
}

.glass:hover {
	background-color: rgba(255, 255, 255, 0.5);
	scale: 1.05;
}

#items {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.item {
	width: 200px;
	height: 75px;
	padding: 5px;

	animation: fadeIn 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		top: 60%;
	}
	100% {
		opacity: 1;
		top: 50%;
	}
}

.item p {
	font-size: 24px;
	position: relative;
	margin: 0px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.credit {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 5px;
}

.credit a {
	text-decoration: none;
	font-size: 24px;
	color: black;
	position: relative;
	bottom: 10px;
}