:root {
	--easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
}

body {
	background-color: #02010A;
	color: white;
	text-align: center;
	margin: 0px;
	
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	overflow: hidden;
}

.heading {
	position: relative;
	font-size: 48px;
	margin: 8px;
	animation: startup-moveRight 0.5s var(--easeOutBack);
}

p {
	font-size: 24px;
	margin: 8px;
}

.subheading {
	position: relative;
	animation: startup-moveLeft 0.5s var(--easeOutBack);
}

.glass {
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(10px);
	box-shadow: 0px 8px 32px 0px rgba( 255, 255, 255, 0.1 );
	color: rgba( 255, 255, 255, 0.8);

	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 5px;
	transition: ease-in-out 0.25s;
}

.glass:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0% 0%;

	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 10px;
	animation: startup-grow 0.25s var(--easeOutBack);
}

.item {
	width: 200px;
	height: 75px;
	padding: 5px;
	margin: 5px;
	text-align: center;
	align-content: center;

	animation: FadeIn 0.25s ease-in-out;
}

.item > p {
	font-size: 24px;
	margin: 0px;
}

.credit {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	margin: 5px;
	animation: startup-credit 0.5s var(--easeOutBack);
}

.credit > a {
	text-decoration: none;
	font-size: 24px;
	color: rgba( 255, 255, 255, 0.8);
	position: relative;
	bottom: 10px;
}

@media screen and (orientation: portrait) {
	.item {
		width: 400px;
		height: 150px;
		border-radius: 15px;
		border-width: 2px;
		box-shadow: 0px 16px 64px 0px rgba( 255, 255, 255, 0.1 );
	}

	.item > p {
		font-size: 36px;
	}
}

@keyframes FadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opactiy: 1;
	}
}

@keyframes startup-moveRight {
	0% {
		left: -10%
	}
	100% {
		left: 0%;
	}
}

@keyframes startup-moveLeft {
	0% {
		right: -10%
	}
	100% {
		right: 0%;
	}
}


@keyframes startup-credit {
	0% {
		right: -25%;
	}
	100% {
		right: 0%;
	}
}

@keyframes startup-grow {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}